################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/samples/Clients/old/MvcHybrid/obj
/samples/Clients/old/MvcImplicit/obj
/samples/Clients/old/MvcImplicitJwtRequest/obj
/samples/Clients/old/MvcManual/obj
/samples/Clients/src/ConsoleClientCredentialsFlow/obj
/samples/Clients/src/ConsoleClientCredentialsFlowCallingIdentityServerApi/obj
/samples/Clients/src/ConsoleClientCredentialsFlowPostBody/obj
/samples/Clients/src/ConsoleCustomGrant/obj
/samples/Clients/src/ConsoleDeviceFlow/obj
/samples/Clients/src/ConsoleEphemeralMtlsClient/obj
/samples/Clients/src/ConsoleHybridWithPkce/obj
/samples/Clients/src/ConsoleIntrospectionClient/obj
/samples/Clients/src/ConsoleMTLSClient/obj
/samples/Clients/src/ConsoleParameterizedScopeClient/obj
/samples/Clients/src/ConsolePrivateKeyJwtClient/obj
/samples/Clients/src/ConsoleResourceOwnerFlow/obj
/samples/Clients/src/ConsoleResourceOwnerFlowPublic/obj
/samples/Clients/src/ConsoleResourceOwnerFlowReference/obj
/samples/Clients/src/ConsoleResourceOwnerFlowRefreshToken/obj
/samples/Clients/src/ConsoleResourceOwnerFlowUserInfo/obj
/samples/Clients/src/Constants/obj
/samples/Clients/src/JsOidc/obj
/samples/Clients/src/MvcAutomaticTokenManagement/obj
/samples/Clients/src/MvcCode/obj
/samples/Clients/src/MvcHybridBackChannel/obj
/samples/Clients/src/SampleApi/obj
/samples/Clients/src/WindowsConsoleSystemBrowser/obj
/samples/Quickstarts/1_ClientCredentials/.vs/Quickstart
/samples/Quickstarts/1_ClientCredentials/src/Api/bin/Debug/netcoreapp3.1
/samples/Quickstarts/1_ClientCredentials/src/Api/obj
/samples/Quickstarts/1_ClientCredentials/src/Client/bin/Debug/netcoreapp3.1
/samples/Quickstarts/1_ClientCredentials/src/Client/obj
/samples/Quickstarts/1_ClientCredentials/src/IdentityServer/bin/Debug/netcoreapp3.1
/samples/Quickstarts/1_ClientCredentials/src/IdentityServer/obj
/samples/Quickstarts/2_InteractiveAspNetCore/.vs/Quickstart
/samples/Quickstarts/2_InteractiveAspNetCore/src/Api/bin/Debug/netcoreapp3.1
/samples/Quickstarts/2_InteractiveAspNetCore/src/Api/obj
/samples/Quickstarts/2_InteractiveAspNetCore/src/Client/bin/Debug/netcoreapp3.1
/samples/Quickstarts/2_InteractiveAspNetCore/src/Client/obj
/samples/Quickstarts/2_InteractiveAspNetCore/src/IdentityServer/bin/Debug/netcoreapp3.1
/samples/Quickstarts/2_InteractiveAspNetCore/src/IdentityServer/obj
/samples/Quickstarts/2_InteractiveAspNetCore/src/MvcClient/bin/Debug/netcoreapp3.1
/samples/Quickstarts/2_InteractiveAspNetCore/src/MvcClient/obj
/samples/Quickstarts/3_AspNetCoreAndApis/.vs/Quickstart
/samples/Quickstarts/3_AspNetCoreAndApis/src/Api/bin/Debug/netcoreapp3.1
/samples/Quickstarts/3_AspNetCoreAndApis/src/Api/obj
/samples/Quickstarts/3_AspNetCoreAndApis/src/Client/bin/Debug/netcoreapp3.1
/samples/Quickstarts/3_AspNetCoreAndApis/src/Client/obj
/samples/Quickstarts/3_AspNetCoreAndApis/src/IdentityServer/bin/Debug/netcoreapp3.1
/samples/Quickstarts/3_AspNetCoreAndApis/src/IdentityServer/obj
